<%= form_for :rssfeed, url: rssfeeds_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :feedurl %><br>
    <%= f.text_field :feedurl %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Retour à la liste', rssfeeds_path %>
