<p>
  <strong>Titre :</strong>
  <%= @rssfeed.title %>
</p>

<p>
  <strong>URL :</strong>
  <%= @rssfeed.feedurl %>
</p>
<h2>Contenu du flux : </h2>
<% @rssfeed.items.each do |item| %>
  <div style="border: black solid 2px;
              padding: 4px;
              margin: 2px">
    <p>
      <strong>Titre de l'article :</strong>
      <%= item.title %>
    </p>
    <p>
      <strong>Résumé de l'article :</strong>
      <%= item.summary %>
    </p>
    <p>
      <strong>Date :</strong>
      <%= item.date %>
    </p>
    <p>
      <a href='<%= item.url %>'>Voir l'article</a>
    </p>
    <p>
      <% if item.status %>
        <i><%= link_to 'marquer comme non-lu', url: item_path(item),
          method: :patch %></i>
      <% else %>
        <b><%= link_to 'marquer comme lu', url: item_path(item),
          method: :patch %></b>
      <% end %>
    </p>
  </div>
<% end %>
<%= link_to 'Retour à la liste', rssfeeds_path %>
